body {
  background-color: #242424;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 470px;
    height: 848px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
}

